{
  "name": "{{plugin.identifier}}",
  "version": "{{plugin.version}}",
  "description": "{{plugin.description}}",
  "author": {
    "name": "{{author.name}}",
    "email": "{{author.email}}",
    "url": "{{author.url}}"
  },
  "homepage": "{{plugin.homepage}}",
  "license": "{{license}}",
  "keywords": {{keywords}}
}
